
@media (max-width:1290px) and (min-width:1070px)
{
   .navbar .navbar-brand 
    {
        padding-left: 10px !important;
    }
   .navbar-nav .nav-item .nav-link span
    {
        padding-left: 5px !important;
        
    }
    form
    {
        margin-left: auto !important;
    }
    form input
    {
        width: 250px !important;
    }
}
@media (max-width:1069px) and (min-width:800px)
{
   .navbar .navbar-brand 
    {
        padding-left: 10px !important;
    }
   .navbar-nav .nav-item .nav-link span
    {
        padding-left: 5px !important;
        
    }
    form
    {
        margin-left: auto !important;
    }
    form input
    {
        width: 250px !important;
    }
    ul li a
    {
        font-size: 0.8rem!important;
    }
}
@media (max-width:500px)
{
     .navbar .navbar-brand 
    {
        padding-left: 10px !important;
    }
    .navbar-toggler
    {
     padding: .05rem .55rem;
    }
   
     .navbar-toggler span
    {
       width: 1.3rem!important;
    }
    
}
@media (max-width:1170px)
{
    #hiddenNav ul li a
    {
            padding: 10px 15px;

    }
}
@media (max-width:991px)
{
   
     #hiddenNav .fixed-top
        {
              top: -300px;

        }
    form .input-form
    {
        width: 100%;
    }
}
@media (max-width:991px) and (min-width:928px)
{
     form .icon-button 

    {
        left: 22%;
    }
}
@media (max-width:927px) and (min-width:800px)
{
     form .icon-button 

    {
        left: 27%;
    }
}
@media (max-width:799px) and (min-width:740px)
{
     form .icon-button 

    {
        left: 37%;
    }
}
@media (max-width:739px) and (min-width:640px)
{
     form .icon-button 

    {
        left: 44%;
    }
}
@media (max-width:639px) and (min-width:576px)
{
     form .icon-button 

    {
        left: 50%;
    }
}
@media (max-width:575px)
{
     form .icon-button 

    {
        left: 90%;
    }
}
@media (max-width:991px)
{
     nav .nav-item a span

    {
       display: none;
    }
      nav .nav-item 
    {
        padding:5px 10px;
        margin-left: 10px;
    }
}
    
